.App-container {
  text-align: center;
  background-color: #9ebaf3;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  gap: 30px;
}

.App-container button {
  height: 70px;
  width: 70px;
  font-size: 50px;
  padding: 5px;
  text-align: center;
  gap: 30px;
  cursor: pointer;
}

.App-container span {
  font-size: 70px;
  font-weight: lighter;
}